<!--campaignLogin.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div style="display: flex; align-items: center; justify-content: center; margin-top: 2em; min-height: 50em; padding: 1em;">
    <div class="panel panel-default col-sm-3" style="flex: 1; min-height: 40em; border-radius: 2em;
            border: 0.25em solid #333333;">
        <div class="panel-heading" style="color: #007bff; font-size: 2.5rem; padding-top: 0.25em;
            text-align: center; border-radius: 2em 2em 0 0"><b>Key required to access Campaign</b>
        </div>
        <br>
        <div class="panel-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
            <div class="alert alert-danger" role="alert">
                {{.ErrorTitle}}: {{.ErrorMessage}}
            </div>
        {{end}}

        <!--Create a form that POSTs to the `/campaign/login/{{.ID}}` route-->
        <form class="form" action="/campaign/login/{{.ID}}" method="POST">
            <div class="form-group">
                <label for="key">key</label>
                <input class="form-control" type="password" id="key" name="key" required>
            </div>
            <div style="min-height: 4em; min-width: 12em; display: flex; flex-flow: row;" >
                <div style="flex: 1 1 0;">
                    <button id="submit" type="submit" class="btn btn-primary" style="width: 100%" onclick="loadSpinner()">Login</button>
                </div>
                <div id="spinner" style="flex: 1 1 0; width: 100%; display: none; margin-top: 1em; text-align: center;">
                    {{ template "diceSpinnerSvg.html" .}}
                </div>
            </div>
        </form>
    </div>
</div>

<script type="application/javascript">
    document.getElementById("key")
        .addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("submit").click();
            }
        });

    let loadSpinner = () => {
        if (document.getElementById("key").value.trim() !== '') {
            document.getElementById("spinner").style.display = "block";
        }
    }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
