<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="content" style="max-width: 100%">
    <div class="row g-4" style="overflow: hidden;">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}

        <div id="ui-left-bar" class="chat-screen">
            <div>
                <button class="btn" onclick="exitGame()" style="height: 2.5em; width: 2.5em" title="Exit Game">
                    <b><i class="bi bi-door-closed"></i></b>
                </button>
                {{ if .campaign.UserIsLead }}
                <button class="btn" onclick="saveGame()" style="height: 2.5em; width: 2.5em" title="Save current game state">
                    <b><i class="bi bi-floppy"></i></b>
                </button>
                {{ end }}
            </div>
            <div id="chat-content" class="chat-content">

            </div>
            <div class="form-group" style="margin-top: 0.25em; display: flex; flex-wrap: nowrap">
                <div style="flex: 5 5 0">
                    <label for="message" style="margin-left: 1em; min-width: 100%; min-height: 100%">
                        <input type="text" id="message" name="message" style="min-width: 100%; height: 2.4em;" />
                    </label>
                </div>
                <div style="flex: 1 1 0;">
                    <button id="messageButton" onclick="sendChatMessage()" class="btn btn-primary" title="Send Message">
                        <b><i class="bi bi-send"></i></b>
                    </button>
                </div>
            </div>
        </div>

        <div id="ui-center-bar" class="col border" style="min-width: 1100px;">
            <div id="char-ribbon-row" class="char-ribbon-row">
                <h4> Characters </h4>
            </div>
            <div id="campaign-screen" class="campaign-screen">
                <ul id="campaign-tabs" class="nav nav-tabs">
                    {{ if .campaign.UserIsLead }}
                    <li class="nav-item" id="manageMapsList">
                        <button id="manageMapsLink" class="nav-link" onclick="openTab('manageMaps');" style="color: goldenrod"><i class="bi bi-pencil"></i> Maps</button>
                    </li>
                    <li class="nav-item" id="manageCharactersList">
                        <button id="manageCharactersLink" class="nav-link" onclick="openTab('manageCharacters');" style="color: goldenrod"><i class="bi bi-pencil"></i> Characters</button>
                    </li>
                    <li class="nav-item" id="manageInventoryList">
                        <button id="manageInventoryLink" class="nav-link" onclick="openTab('manageInventory');" style="color: goldenrod"><i class="bi bi-pencil"></i> Inventory</button>
                    </li>
                    <li class="nav-item" id="manageItemsList">
                        <button id="manageItemsLink" class="nav-link" onclick="openTab('manageItems');" style="color: goldenrod"><i class="bi bi-pencil"></i> Items</button>
                    </li>
                    <li class="nav-item" id="manageCampaignList">
                        <button id="manageCampaignLink" class="nav-link" onclick="openTab('manageCampaign');" style="color: goldenrod"><i class="bi bi-pencil"></i> Campaign</button>
                    </li>
                    <li class="nav-item" id="manageAuditEventsList">
                        <button id="manageAuditEventsLink" class="nav-link" onclick="openTab('manageAuditEvents');" style="color: goldenrod"><i class="bi bi-eye"></i> Audit</button>
                    </li>
                    {{ end }}
                    <li class="nav-item" id="currentList">
                        <button id="currentLink" class="nav-link active" onclick="openTab('current')">Current</button>
                    </li>
                </ul>

                <div id="campaign-content" class="campaign-content">
                    <!-- Tab Content -->
                    {{ if .campaign.UserIsLead }}
                    <div id="manageMaps" class="tab-content" style="display: none">
                        <div id="manageMapsContent" style="margin-top: 0.5em;"></div>
                    </div>
                    <div id="manageCharacters" class="tab-content" style="display: none">
                        <div id="manageCharactersContent" style="margin-top: 0.5em;"></div>
                    </div>
                    <div id="manageInventory" class="tab-content" style="display: none">
                        <div id="manageInventoryContent" style="margin-top: 0.5em;"></div>
                    </div>
                    <div id="manageItems" class="tab-content" style="display: none">
                        <div id="manageItemsContent" style="margin-top: 0.5em;"></div>
                    </div>
                    <div id="manageCampaign" class="tab-content" style="display: none">
                        <div id="manageCampaignContent" style="margin-top: 0.5em;"></div>
                    </div>
                    <div id="manageAuditEvents" class="tab-content" style="display: none">
                        <div id="manageCampaignContent" style="margin-top: 0.5em;">
                            {{ if .campaign.UserIsLead }}
                                <div style="min-height: 15em;">
                                    <h4> Audit Events </h4>
                                    <div id="event-content" class="" style="max-height: 11em; overflow-y: auto">


                                    </div>
                                </div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}

                    <div id="current" class="tab-content">
                        <h3> No active event </h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="ui-right-bar" class="" style="width: calc(3em); min-height: 100%;">
            <button class="btn" id="toggle-right-bar-visibility" onclick="toggleVisibilityRightBar()"
                    style="position: relative; left: 0;">
                <b><i class="bi bi-chevron-double-left"></i></b>
            </button>
            <div id="right-bar-inner-content" style="position: relative; min-height: 100%; left: 3em; top: -2.4em; width: 0; display: none">
                <div id="entity-details-holder" class="">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">

    // <!-- Registering Message Listener -->
    document.getElementById("message")
        .addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("messageButton").click();
            }
        });

    // <!--  Starting Websocket  -->
    console.log("connecting to campaign: '{{.campaign.Title}}'")

    var socket;
    let currentUser = "{{.user.Name}}"
    let backoff = 1

    let connectWs = () => {
        socket = new WebSocket("ws://" + document.location.host + "/campaign/session/{{.campaign.ID}}/ws")

        // On Open & Close
        socket.onopen = function (evt) {
            console.log("Connected to Websocket: true");
            backoff = 1;
            fullRefresh();
        }
        socket.onclose = function (evt) {
            console.log("Connected to Websocket: false");
            // cleanup
            for (let index in campaignMapTabIds) {
                document.getElementById(campaignMapTabIds[index])?.remove()
                document.getElementById(campaignMapTabIds[index] + "List")?.remove()
            }
            campaignMapTabIds = []
            selectedCharDetailsId = ""
            loadedCharDetailsId = ""
            mapItems = new Map();
            mapItemIdToEntityId = new Map();
            mapItemHtmlIdToMapItem = new Map();

            // Attempting reconnect
            setTimeout(() => {
                console.log("Attempting to re-establish connection");
                backoff ++;
                connectWs();
            }, (backoff * 1000))
        }

        // On message
        socket.onmessage = onSocketMessage
    }

    let onSocketMessage = (evt) => {
        console.log(evt)

        // Get Payload
        const payLoad = JSON.parse(evt.data);

        // Parse events

        // Parse Character Events
        if (payLoad.type >= 500 && payLoad.type < 510) {
            handleCharacterEvents(payLoad);
            return;
        }

        // Parse Map Events
        if (payLoad.type >= 530 && payLoad.type < 549) {
            if (payLoad.type === 531) {
                handleCampaignContentMapEvents(payLoad);
            } else if (payLoad.type === 532) {
                handleCampaignContentMapItemsEvents(payLoad);
            } else if (payLoad.type === 533) {
                handleCampaignContentMapItemEvents(payLoad);
            }
            else if (payLoad.type === 544) {
                handleCampaignContentMapVisibility(payLoad);
            } else if (payLoad.type === 546) {
                handleMapItemRemoval(payLoad);
            } else if (payLoad.type === 547) {
                handleSignal(payLoad);
            } else if (payLoad.type === 548) {
                handleNewMapBackground(payLoad);
            }
            return;
        }

        // Parse Manage Events
        if (payLoad.type >= 550 && payLoad.type <= 559) {
            handleManagePage(payLoad);
            return;
        }
        if (payLoad.type >= 5500 && payLoad.type <= 5600 ) {
            // Reset Error-box
            let element = document.getElementById("managementCrudError");
            if (element) {
                element["style"].visibility = "hidden";
            }

            // Maps
            if (payLoad.type === 5511) {
                handleRightBarCrudHtml(payLoad);
            }
            // Items
            if (payLoad.type === 5541) {
                handleRightBarCrudHtml(payLoad);
            }
            return;
        }
        if (payLoad.type === 5999) {
            stopLoadSpinner();
            let element = document.getElementById("managementCrudError");
            if (element) {
                let body = JSON.parse(payLoad.body)
                element.textContent = body.title + ': ' + body.message;
                element["style"].visibility = "visible";
            }
            return;
        }

        // Parse Chat-messages
        if ((payLoad.type >= 400 && payLoad.type < 410) || (payLoad.type >= 800 && payLoad.type < 900)) {
            handleChatEvents(payLoad);
            return;
        }

        {{ if .campaign.UserIsLead }}
        document.getElementById("event-content").innerHTML += payLoad.body;
        {{ end }}
    }

    let saveGame = () => {
        sendEvent(wrapMessage('', 2));
    }

    let fullRefresh = () => {
        selectedCharDetailsId = "";
        loadedCharDetailsId = "";
        document.getElementById("entity-details-holder").innerHTML = "";
        sendEvent(wrapMessage('', 500));
    }

    let wrapMessage = (body, type) => {
        return {body: body, type: type};
    }

    let sendEvent = (event) => {
        console.log("Sending event to server: ", event);
        socket.send(JSON.stringify(event));
    }

    let updateCharacterList = () => {
        let body = '';
        sendEvent(wrapMessage(body, 501));
    }

    let sendChatMessage = () => {
        let body = '' + document.getElementById("message")["value"];
        document.getElementById("message")["value"] = '';
        if (body && body.trim()) {
            sendEvent(wrapMessage(body, 800));
        }
    }

    let handleCharacterEvents = (data) => {
        if (data.type === 501) {
            document.getElementById("char-ribbon-row").innerHTML = data.body;
        } else if (data.type === 504) {
            // If empty body, user is not allowed to see details, reset to old state
            if (!data.body.trim()) {
                // User may be not allowed to view old state, if so clean-up
                if (selectedCharDetailsId === loadedCharDetailsId) {
                    selectedCharDetailsId = "";
                    loadedCharDetailsId = "";
                    document.getElementById("entity-details-holder").innerHTML = "";
                } else {
                    selectedCharDetailsId = loadedCharDetailsId;
                }
            } else {
                let body = JSON.parse(data.body)
                if (selectedCharDetailsId === body.Id) {
                    loadedCharDetailsId = body.Id;
                    if (!rightBarVisible) {
                        toggleVisibilityRightBar();
                    }
                    document.getElementById("entity-details-holder").innerHTML = body.Html;
                }
            }
        }
    }

    let selectedCharDetailsId = "";
    let loadedCharDetailsId = "";
    let loadCharDetails = (id) => {
        selectedCharDetailsId = id;
        sendEvent(wrapMessage(id, 504));
    }
    let loadCharDetailsByMapItem = (mapItemId) => {
        if (mapItemIdToEntityId.has(mapItemId)) {
            selectedCharDetailsId = mapItemIdToEntityId.get(mapItemId);
            sendEvent(wrapMessage(selectedCharDetailsId, 504));
        }
    }

    let upsertItem = (id) => {
        stopLoadSpinner();
        sendEvent(wrapMessage(JSON.stringify(id), 5541));
    }

    let upsertMap = (id) => {
        stopLoadSpinner();
        sendEvent(wrapMessage(JSON.stringify(id), 5511));
    }

    let submitUpsertItem = () => {
        let formElement = document.forms['upsertItemForm'];
        if (formElement && formElement.reportValidity()) {
            let formData = new FormData(formElement);
            let item = {}
            item.Id = formData.get('id');
            item.Name = formData.get('name');
            item.Description = formData.get('description');
            item.Damage = formData.get('damage');
            item.Restore = formData.get('restore');
            item.RangeMin = formData.get('rangeMin');
            item.RangeMax = formData.get('rangeMax');
            item.Weight = formData.get('weight');
            sendEvent(wrapMessage(JSON.stringify(item), 5542));
        } else {
            stopLoadSpinner();
        }
    }

    let submitUpsertMap = () => {
        let formElement = document.forms['upsertMapForm'];
        if (formElement && formElement.reportValidity()) {
            let formData = new FormData(formElement);
            console.warn(formData);
            let item = {};
            item.Id = formData.get('id');
            item.Name = formData.get('name');
            item.Description = formData.get('description');
            item.X = formData.get('area_x');
            item.Y = formData.get('area_y');
            item.RemoveImages = [];
            if (document.getElementById("removeImages") && document.getElementById("removeImages")["value"]) {
                let images = document.getElementById("removeImages")["value"];
                let split = images.split('_');
                for (const key in split) {
                    if (split[key]) {
                        item.RemoveImages.push(split[key]);
                    }
                }
            }

            if (formData.get('image')) {
                let sendFunction = (image) => {
                    item.Image = image;
                    sendEvent(wrapMessage(JSON.stringify(item), 5513));
                    stopLoadSpinner();
                }
                item.ImageName = formData.get('imageName');
                parseFormFileToBase64(formData.get('image'), sendFunction);
            } else {
                // Send without image
                sendEvent(wrapMessage(JSON.stringify(item), 5513));
            }
        } else {
            stopLoadSpinner();
        }
    }

    let parseFormFileToBase64 = (file, doneFunction) => {
        let parsedFile = {
            Name: "",
            Size: 0,
            Type: "",
            FileBase64: "",
        };

        if (file && file instanceof File && doneFunction instanceof Function) {
            try {
                parsedFile.Name = file.name;
                parsedFile.Size = file.size;
                parsedFile.Type = file.type;
                let reader = new FileReader();
                let rawData = new ArrayBuffer();
                reader.onload = (e) => {
                    rawData = e.target.result;
                    parsedFile.FileBase64 = btoa(String.fromCharCode.apply(null, new Uint8Array(rawData)));
                    doneFunction(parsedFile);
                }
                reader.readAsArrayBuffer(file);
            } catch (e) {
                // ignore; send empty
                stopLoadSpinner();
            }
        } else {
            stopLoadSpinner();
        }
    }

    let handleRemovalOfImagesRequest = (id) => {
        if (document.getElementById("removeImages")) {
            console.log(document.getElementById("removeImages")["value"]);
            // Check if to be removed or needs to be recovered
            if (document.getElementById("removeImages")["value"] &&
                document.getElementById("removeImages")["value"].indexOf(id) > 0) {
                document.getElementById("image_title_" + id)["style"].textDecoration = '';
                document.getElementById("image_" + id)["style"].opacity = '100%';
                let button = document.getElementById("btn_remove_" + id);
                button.title = "Remove Image";
                button.innerHTML = '<b>x</b>';
                document.getElementById("removeImages")["value"] =
                    document.getElementById("removeImages")["value"].replace('_' + id, '');
            } else {
                document.getElementById("removeImages")["value"] += '_' + id;
                document.getElementById("image_title_" + id)["style"].textDecoration = 'line-through';
                document.getElementById("image_" + id)["style"].opacity = '30%';
                let button = document.getElementById('btn_remove_' + id);
                button.title= "Undo Removal of Image";
                button.innerHTML = '<b>-</b>';
            }
        }
    }

    let handleRightBarCrudHtml = (data) => {
        let body = JSON.parse(data.body);
        // Reset possible Char links
        selectedCharDetailsId = "";
        loadedCharDetailsId = "";
        if (!rightBarVisible) {
            toggleVisibilityRightBar();
        }
        document.getElementById("entity-details-holder").innerHTML = body;
    }

    let campaignMapTabIds = [];
    let handleCampaignContentMapEvents = (data) => {
        let body = JSON.parse(data.body);
        let tabs = body.Tabs;
        let contentData = body.Content;

        for (let index in contentData) {
            let oldContent = document.getElementById(contentData[index].Id);
            if (oldContent) {
                oldContent.remove();
            }
            document.getElementById("campaign-content").innerHTML += contentData[index].Html;
        }

        let lastId;
        for (let index in tabs) {
            lastId = tabs[index].Id;
            let oldTab = document.getElementById(tabs[index].Id + "List");
            if (oldTab) {
                oldTab.remove();
            }
            if (!campaignMapTabIds.includes(tabs[index].Id)) campaignMapTabIds.push(tabs[index].Id);
            document.getElementById("campaign-tabs").innerHTML += tabs[index].Html;
        }
        // Open a map (or the last if multiple maps are send)
        if (lastId) {
            openTab(lastId);
        }
    }

    let rightBarVisible = false;
    let toggleVisibilityRightBar = () => {
        rightBarVisible = !rightBarVisible
        let element = document.getElementById('toggle-right-bar-visibility');

        if (rightBarVisible) {
            element.innerHTML = '<b><i class="bi bi-chevron-double-right"></i></b>';
            document.getElementById('right-bar-inner-content')["style"].display = "inherit";
            document.getElementById('right-bar-inner-content')["style"].width = "543px";
            document.getElementById('ui-right-bar')["style"].width = "calc(553px + 3em)";
        } else {
            element.innerHTML = '<b><i class="bi bi-chevron-double-left"></i></b>';
            document.getElementById('right-bar-inner-content')["style"].display = "none";
            document.getElementById('right-bar-inner-content')["style"].width = "0";
            document.getElementById('ui-right-bar')["style"].width = "3em";
            element["style"].visibility = "visible";
        }
    }

    let mapItems = new Map();
    let mapItemIdToEntityId = new Map();
    let mapItemHtmlIdToMapItem = new Map();
    let handleCampaignContentMapItemsEvents = (data) => {
        let body = JSON.parse(data.body);
        let MapId = body.MapId;
        let MapElements = body.Elements;

        // Remove or create empty
        if (mapItems.has(MapId)) {
            for (let [elemId, mapItem] of mapItems.get(MapId)) {
                if (MapElements && !Object.hasOwn(MapElements, elemId)) {
                    let mapItemHtmlId = MapId + "-" + mapItem.Id + "-cell-element";
                    document.getElementById(mapItemHtmlId)?.remove();
                    mapItemIdToEntityId.delete(mapItem.Id);
                    mapItemHtmlIdToMapItem.delete(mapItemHtmlId);
                }
            }
        } else {
            mapItems.set(MapId, new Map());
        }

        // Add/Modify
        for (let elemId in MapElements) {
            let mapItem = MapElements[elemId];

            // Get the Cell
            let cell = document.getElementById(MapId + "-cell-y" + mapItem.Position.Y + "-x" + mapItem.Position.X + '-content');
            let mapItemHtmlId = MapId + "-" + mapItem.Id + "-cell-element";

            if (cell != null) {
                cell.innerHTML = mapItem.Html;
                mapItems.get(MapId).set(elemId, mapItem);
                mapItemIdToEntityId.set(elemId, mapItem.EntityId);
                mapItemHtmlIdToMapItem.set(mapItemHtmlId, mapItem);

                // Add the event handlers
                document.getElementById(mapItemHtmlId).oncontextmenu = showContextMenuOfMapItem;
            }
        }
    }

    let onMapScroll = (campaignMap) => {
        if (campaignMap) {
            let menus = campaignMap.getElementsByClassName("context-menu active");
            for (let i = 0; i < menus.length; i++) {
                menus[i]["style"].marginTop = (0 - campaignMap.scrollTop) + 'px';
                menus[i]["style"].marginLeft = (0 - campaignMap.scrollLeft - 375) + 'px';
            }
        }
    }

    let handleManagePage = (data) => {
        let html = JSON.parse(data.body);
        if (data.type === 551 ) {
            document.getElementById('manageMapsContent').innerHTML = html;
        }
        if (data.type === 552) {
            document.getElementById('manageCharactersContent').innerHTML = html;
        }
        if (data.type === 553) {
            document.getElementById('manageInventoryContent').innerHTML = html;
        }
        if (data.type === 554) {
            document.getElementById('manageItemsContent').innerHTML = html;
        }
        if (data.type === 555) {
            document.getElementById('manageCampaignContent').innerHTML = html;
        }
    }

    let handleMapItemRemoval = (data) => {
        let mapItemId = data.body;
        for (let [mapId, mapItemsOnMap] of mapItems) {
            if (mapItemsOnMap.has(mapItemId)) {
                let mapItemHtmlId = mapId + "-" + mapItemId + "-cell-element";
                document.getElementById(mapItemHtmlId).remove();
                mapItemIdToEntityId.delete(mapItemId);
                mapItemHtmlIdToMapItem.delete(mapItemHtmlId);
                mapItemsOnMap.delete(mapItemId);
            }
        }
    }

    let handleSignal = (data) => {
        let body = JSON.parse(data.body);
        let id = body.Id;
        let x = body.X;
        let y = body.Y;

        let cell = document.getElementById(id + '-cell-y' + y + '-x' + x + '-content');
        if (cell && body.Html) {
            // Check if it has a character
            let hasMapItem = false;
            for (const child of cell.children) {
                if (child.classList.contains('element')) {
                    hasMapItem = true;
                    break;
                }
            }

            // remove old signals
            removeSignal('signal-' + id + '-y' + y + '-x' + x);
            cell.innerHTML = cell.innerHTML + body.Html;

            if (hasMapItem) {
                document.getElementById('signal-' + id + '-y' + y + '-x' + x)["style"].transform = 'translateY(-100%)';
            }
        }
    }

    let handleNewMapBackground = (data) => {
        let body = JSON.parse(data.body);
        let mapId = body.MapId;
        let url = body.Url;

        let mapGrid = document.getElementById("mapGrid" + mapId);

        console.error(mapGrid);
        if (mapGrid) {
            mapGrid["style"].backgroundImage = "url('" + url + "')";
        }
    }

    let removeSignal = (id) => {
        let signal = document.getElementById(id);
        if (signal) {
            signal.remove();
        }
    }

    let handleCampaignContentMapVisibility = (data) => {
        let body = JSON.parse(data.body);
        let id = body.Id;
        let active = body.Active;

        // Clean-up or request the new active map
        if (!active) {
            closeTab(id);
        } else {
            sendEvent(wrapMessage(id, 531));
            sendEvent(wrapMessage(id, 532));
        }
    }

    let fullRefreshMapLoadFromServer = (id) => {
        sendEvent(wrapMessage(id, 531));
        sendEvent(wrapMessage(id, 532));
    }

    let requestMapLoadFromServer = (id) => {
        if (!campaignMapTabIds.includes(id)) {
            sendEvent(wrapMessage(id, 531));
            sendEvent(wrapMessage(id, 532));
        } else {
            openTab(id);
        }
    }

    let handleCampaignContentMapItemEvents = (data) => {
        let mapItem = JSON.parse(data.body);
        let MapId = mapItem.MapId;

        // Get the Cell
        let cell = document.getElementById(MapId + "-cell-y" + mapItem.Position.Y + "-x" + mapItem.Position.X + '-content');
        let mapItemHtmlId = MapId + "-" + mapItem.Id + "-cell-element";

        // Delete old
        if (document.getElementById(mapItemHtmlId)) {
            document.getElementById(mapItemHtmlId).remove();
        }

        if (cell != null) {
            cell.innerHTML = mapItem.Html;
            mapItems.get(MapId).set(mapItem.Id, mapItem);
            mapItemIdToEntityId.set(mapItem.Id, mapItem.EntityId);
            mapItemHtmlIdToMapItem.set(mapItemHtmlId, mapItem);

            // Add the event handlers
            document.getElementById(mapItemHtmlId).oncontextmenu = showContextMenuOfMapItem;
        }
    }

    let showContextMenuOfMapItem = (event) => {
        let cell = findParentWithSpecificClass(event.target, 'cell');
        let parent = findParentWithSpecificClass(event.target, 'element');
        let map = findParentWithSpecificClass(event.target, 'campaign-map');
        if (parent && map ) {
            for (const child of parent.children) {
                if (child.classList.contains('context-menu')) {
                    clearAllMenus();
                    setContextMenuToActive(child, map, event);
                    if (cell) {
                        cell["style"].border = 'solid #991c2c';
                    }
                    break;
                }
            }
        }
        event.preventDefault();
        event.stopPropagation();
    }

    let showContextMenuOfDefaultCell = (event) => {
        let parent = findParentWithSpecificClass(event.target, 'cell');
        let map = findParentWithSpecificClass(event.target, 'campaign-map');

        if (parent && map) {
            // Check if there is an element inside of content. If so, enable that context-menu instead
            for (const child of parent.children) {
                if (child.classList.contains('content')) {
                    let content = child;
                    let element;
                    for (const contentChild of content.children) {
                        if (contentChild.classList.contains('element')) {
                            element = contentChild;
                            break;
                        }
                    }

                    if (element) {
                        for (const child of element.children) {
                            if (child.classList.contains('context-menu')) {
                                clearAllMenus()
                                setContextMenuToActive(child, map, event);
                                parent["style"].border = 'solid #991c2c';
                                event.preventDefault();
                                event.stopPropagation();
                                return;
                            }
                        }
                    }
                }
            }

            for (const child of parent.children) {
                if (child.classList.contains('context-menu')) {
                    clearAllMenus();
                    setContextMenuToActive(child, map, event);
                    break;
                }
            }
            parent["style"].border = 'solid #991c2c';
        }
        event.preventDefault();
        event.stopPropagation();
    }

    let setContextMenuToActive = (target, scrollParent, ev) => {
        target.classList.add('active');
        target["style"].display = 'block';
        target["style"].marginTop = '' + (0 - scrollParent.scrollTop) + 'px';
        target["style"].marginLeft = '' + (0 - scrollParent.scrollLeft - 375) + 'px';
        // @todo fix offscreen possibility
        target["style"].top = 'calc('+(ev.clientY+scrollParent.scrollTop)+'px - ' + (cellSizeInHalfEms*8) + 'px)';
        target["style"].left = (ev.clientX+scrollParent.scrollLeft)+'px';
    }

    let sendSignal = (mapId, y, x, type) => {
        let signalItem = {};
        signalItem.Id = mapId;
        signalItem.Y = y;
        signalItem.X = x;
        signalItem.Type = type;

        // Send Updated MapItem
        sendEvent(wrapMessage(JSON.stringify(signalItem), 547));
    }

    let hideCellContextMenu = (event) => {
        let cell = findParentWithSpecificClass(event.target, 'cell');
        if (cell) {
            cell["style"].border = null;
        }
        let parent = findParentWithSpecificClass(event.target, 'context-menu');
        if (parent) {
            parent.classList.remove('active');
            parent["style"].display = 'none';
        }
        event.preventDefault();
        event.stopPropagation();
    }

    let toggleVisibilityFromContextMenu = (cellId) => {
        // Get the map item
        let mapItem = mapItemHtmlIdToMapItem.get(cellId);
        if (!mapItem) {
            return;
        }

        // Update MapItem (visibility)
        mapItem.Hidden = !mapItem.Hidden;

        // Remove Html before sending
        mapItem.Html = '';

        // Send Updated MapItem
        sendEvent(wrapMessage(JSON.stringify(mapItem), 543));
    }

    let removeItemFromMap = (mapId, mapItemId) => {
        if (mapItems.has(mapId) && mapItemHtmlIdToMapItem.has(mapItemId)) {
            return;
        }

        let mapItem = {};
        mapItem.MapId = mapId;
        mapItem.Id = mapItemId;

        sendEvent(wrapMessage(JSON.stringify(mapItem), 546));
    }

    let findParentWithSpecificClass = (target, className) => {
        if (target) {
            if (target.classList.contains(className)) {
                return target;
            }
            return findParentWithSpecificClass(target.parentElement, className);
        }
        return false;
    }

    let updateMapVisibility = (id) => {
        // Send to back
        let mapVisibility = {};
        mapVisibility.Id = id;

        mapVisibility.Active = !document.getElementById("is" + id + "Active").checked;
        document.getElementById("is" + id + "Active").checked = mapVisibility.Active;

        if (mapVisibility.Active) {
            document.getElementById("is" + id + "Icon").className = 'bi bi-eye';
        } else {
            document.getElementById("is" + id + "Icon").className = 'bi bi-eye-slash';
        }

        sendEvent(wrapMessage(JSON.stringify(mapVisibility), 544));
    }

    let addCharacterToMap = (mapId) => {
        let mapItemAdd = {};
        mapItemAdd.EntityId = document.getElementById("charToMap" + mapId + "Select")["value"];
        mapItemAdd.MapId = mapId;

        if (mapItemAdd.EntityId !== 'none') {
            sendEvent(wrapMessage(JSON.stringify(mapItemAdd), 545));
        }
    }

    let changeActiveMapBackground = (mapId) => {
        let mapItemAdd = {};
        mapItemAdd.ImageId = document.getElementById("imageAsActive" + mapId + "Select")["value"];
        mapItemAdd.MapId = mapId;

        sendEvent(wrapMessage(JSON.stringify(mapItemAdd), 548));
    }

    let lastMessageSender = ''

    let handleChatEvents = (data) => {
        let chatMessage = '';
        if (data.source === currentUser) {
            chatMessage += '<div class="chat-box chat-box-me">';
        } else if (data.source.toLowerCase() === "server") {
            chatMessage += '<div class="chat-box chat-box-server">';
        } else {
            chatMessage += '<div class="chat-box chat-box-other">';
        }

        if (lastMessageSender !== data.source) {
            lastMessageSender = data.source;
            chatMessage += '<p style="margin: 0"><i><b>' + data.source + '</b> @ ' + data.dateTime + '</i></p>';
        }

        chatMessage += '<p style="margin: 0">';
        if (data.type === 802) {
            chatMessage += '<i class="bi bi-dice-6-fill spin-inline-4"></i>&nbsp;';
        }
        chatMessage += data.body;
        chatMessage += '</p></div>';

        // Set content and scroll to bottom of chat
        let chatContent = document.getElementById("chat-content");
        chatContent.innerHTML += chatMessage;
        chatContent.scrollTop = chatContent.scrollHeight;
    }

    let openTab = (targetId) => {
        // Declare all variables
        let i;

        // Hide all
        let tabContent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i]["style"].display = "none";
        }
        let navLinks = document.getElementsByClassName("nav-link");
        for (i = 0; i < navLinks.length; i++) {
            navLinks[i].className = navLinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        if (document.getElementById(targetId)) {
            document.getElementById(targetId)["style"].display = "block";
            document.getElementById(targetId)["style"].display = "block";
        }
        if (document.getElementById(targetId + 'Link')) {
            document.getElementById(targetId + 'Link').className += " active";
        }

        {{ if .campaign.UserIsLead }}
        if (targetId === 'manageMaps') {
            sendEvent(wrapMessage('', 551));
        }
        if (targetId === 'manageCharacters') {
            sendEvent(wrapMessage('', 552));
        }
        if (targetId === 'manageInventory') {
            sendEvent(wrapMessage('', 553));
        }
        if (targetId === 'manageItems') {
            sendEvent(wrapMessage('', 554));
        }
        if (targetId === 'manageCampaign') {
            sendEvent(wrapMessage('', 555));
        }
        {{ end }}
    }

    let closeTab = (targetId) => {
        if (document.getElementById(targetId + 'Link') &&
            document.getElementById(targetId + 'Link').className.indexOf("active") !== -1) {
            openTab('current');
        }

        document.getElementById(targetId)?.remove();
        document.getElementById(targetId + 'Link')?.remove();
        campaignMapTabIds = campaignMapTabIds.filter(id => id !== targetId);
    }

    let cellSizeInHalfEms = 8
    let makeMapsSmaller = () => {
        if (cellSizeInHalfEms > 4) {
            cellSizeInHalfEms--;
            applyMapZoom();
        }
    }

    let makeMapsBigger = () => {
        if (cellSizeInHalfEms < 20) {
            cellSizeInHalfEms++;
            applyMapZoom();
        }
    }

    let clearAllSignals = () => {
        let signals = document.querySelectorAll(".signal");
        for (let i = 0; i < signals.length; i++) {
            removeSignal(signals[i].id);
        }
    }

    let clearAllMenus = () => {
        let menus = document.querySelectorAll(".active");
        for (let i = 0; i < menus.length; i++) {
            if (menus[i].classList.contains('context-menu')) {
                let parent = findParentWithSpecificClass(menus[i], 'cell');
                parent["style"].border = null;
                menus[i]["style"].display = 'none';
                menus[i].classList.remove('active');
            }
        }
    }

    let applyMapZoom = () => {
        // Getting the stylesheet
        let elementRules;

        // looping through all its rules and getting your rule
        for (const stylesheet of document.styleSheets) {
            if (stylesheet.href.indexOf('/assets/') > -1) {
                for (const element of stylesheet.cssRules) {
                    if (element.selectorText === '.campaign-map .grid .cell') {
                        elementRules = element;
                    }
                }
            }
        }

        // Remove Menus
        clearAllMenus()

        // modifying the rule in the stylesheet
        elementRules["style"].setProperty('max-height', '' + (cellSizeInHalfEms/2) + 'em' );
        elementRules["style"].setProperty('max-width', '' + (cellSizeInHalfEms/2) + 'em' );
        elementRules["style"].setProperty('min-height', '' + (cellSizeInHalfEms/2) + 'em' );
        elementRules["style"].setProperty('min-width', '' + (cellSizeInHalfEms/2) + 'em' );
    }

    let allowDrop = (ev) => {
        ev.preventDefault();
    }

    let drag = (ev) => {
        ev.dataTransfer.setData("cell-element", ev.target.id);
    }

    let drop = (ev) => {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("cell-element");

        // Get the map item
        let mapItem = mapItemHtmlIdToMapItem.get(data);
        if (!mapItem) {
            return;
        }

        // Parse cell to X and Y
        let cellId = ev.target.id
        let y = cellId.substring(cellId.indexOf('-y') + 2, cellId.indexOf('-x'));
        let x = cellId.substring(cellId.indexOf('-x') + 2, cellId.indexOf('-content'));

        // Update MapItem (position)
        mapItem.Position.Y = y;
        mapItem.Position.X = x;

        // Add to the right parent; skipping content
        let sendOk = false;
        if (ev.target.classList.contains('content')) {
            ev.target.appendChild(document.getElementById(data));
            sendOk = true;
        } else {
            let parent = findParentWithSpecificClass(ev.target, 'content');
            if (parent) {
                let alreadyHasElement = false;
                for (const child of parent.children) {
                    if (child.classList.contains('signal')) {
                        // Close the possible signal
                        removeSignal(child.id);
                    } else if (child.classList.contains('element')) {
                        // Already occupied
                        alreadyHasElement = true;
                        break;
                    }
                }
                if (!alreadyHasElement) {
                    parent.appendChild(document.getElementById(data));
                    sendOk = true;
                }
            }
        }

        if (sendOk) {
            // Send Updated MapItem
            // -  Remove Html before sending
            mapItem.Html = '';
            sendEvent(wrapMessage(JSON.stringify(mapItem), 543));
        }
    }

    let updateCharacterHealth = (id) => {
        let charHealth = {};
        charHealth.id = id;
        charHealth.damage = document.getElementById("healthDamage")["value"];
        charHealth.temp = document.getElementById("healthTmp")["value"];
        charHealth.max = document.getElementById("healthMax")["value"];

        sendEvent(wrapMessage(JSON.stringify(charHealth), 511));
    }

    let linkCharacterToPlayer = (elementId, id, playerName) => {
        let charToPlayer = {};
        charToPlayer.id = id;
        charToPlayer.playerName = playerName;

        let element = document.getElementById(elementId);
        if (element) {
            if (element.classList.contains('btn-success')){
                element.classList.remove('btn-success');
                charToPlayer.connect = false;
            } else {
                element.classList.add('btn-success');
                charToPlayer.connect = true;
            }
        }

        sendEvent(wrapMessage(JSON.stringify(charToPlayer), 512));
    }

    let loadSpinner = () => {
        document.getElementById("spinner")["style"].display = "block";
    }

    let stopLoadSpinner = () => {
        let spinner = document.getElementById("spinner");

        if (spinner) {
            document.getElementById("spinner")["style"].display = "none";
        }
    }

    // Innit Websocket only after loading all JS
    if (window["WebSocket"]) {
        console.log("WS support");
        connectWs();
    } else {
        alert("No WS support");
    }

</script>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
