<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1> Select Campaign, {{ .user.Name}} </h1>
<a href="/campaign/new">Create a new Campaign</a>

<div class="panel panel-default col-sm-6">
    <div class="panel-body">
        <div>
            <h2>My Campaigns</h2>
            {{ range .userCampaigns }}
                {{template "selectCampaignBox.html" .}}
            {{ end }}
            <hr>
        </div>
        <div>
            <h2>All Campaigns</h2>
            ...
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
