{{define "campaignContentMap"}}
<div id="{{.id}}" class="tab-content">

    <div style="margin-top: 0.5em; margin-bottom: 0.25em;">
        <button class="btn" onclick="makeMapsSmaller()" style="height: 2.5em; width: 2.5em" title="Zoom Out">
            <b><i class="bi bi-zoom-out"></i></b>
        </button>
        <button class="btn" onclick="makeMapsBigger()" style="height: 2.5em; width: 2.5em" title="Zoom In Map">
            <b><i class="bi bi-zoom-in"></i></b>
        </button>
        <b style="margin-left: 0.25em; margin-right: 0.25em;">|</b>
        <button class="btn" onclick="clearAllSignals();clearAllMenus()" style="height: 2.5em; width: 2.5em" title="Clean Signals and Menu's">
            <b><i class="bi bi-eraser"></i></b>
        </button>
        {{ if .lead }}
        <b style="margin-left: 0.25em; margin-right: 0.25em;">|</b>
        <button class="btn" onclick="updateMapVisibility('{{.id}}')" style="height: 2.5em; width: 2.5em"
                title="Toggle map visibility">
            <b><i id="is{{.id}}Icon" class="bi {{ if .active }} bi-eye {{ else }} bi-eye-slash {{end}}"></i></b>
            <input hidden id="is{{.id}}Active" type="checkbox" {{ if .active }} checked {{end}}>
        </button>
        <button class="btn" onclick="fullRefreshMapLoadFromServer('{{.id}}')" style="height: 2.5em; width: 2.5em" title="Full Map Refresh">
            <b><i class="bi bi-arrow-clockwise"></i></b>
        </button>
        <b style="margin-left: 0.25em; margin-right: 0.25em;">|</b>
        <label>
            <select id="charToMap{{.id}}Select" style="height: 2.4em;">
                <option value="none">none</option>
                {{ range $character := .characters}}
                    <option value="{{$character.GetId}}">{{$character.GetName}}</option>
                {{ end }}
            </select>
        </label>
        <button class="btn" onclick="addCharacterToMap('{{ .id }}')" title="Add Selected Player to this map">
            <b><i class="bi bi-person-fill-add"></i></b>
        </button>
        <b style="margin-left: 0.25em; margin-right: 0.25em;">|</b>
        <label>
            <select id="imageAsActive{{.id}}Select" style="height: 2.4em;">
                {{ range $image := .altImage}}
                    <option value="{{$image.Id}}" {{ if $image.Active }} selected {{ end }}>{{$image.Name}}</option>
                {{ end }}
            </select>
        </label>
        <button class="btn" onclick="changeActiveMapBackground('{{ .id }}')" title="Change Map background to this image">
            <b><i class="bi bi-card-image"></i></b>
        </button>
        <b style="margin-left: 0.25em; margin-right: 0.25em;">|</b>
        <button class="btn" id="toggleBlockerCell{{ .id }}" onclick="toggleBlockerPlacementMode('{{ .id }}')" title="Place Blockers Mode">
            <b><i class="bi bi-stop-fill"></i></b>
        </button>
        {{ end }}
    </div>
    <div class="campaign-map" onscroll="onMapScroll(this)">
        <div class="grid" id="mapGrid{{ .id }}" style="background-image: url('{{.backgroundImage.Url}}')" onclick="clearAllMenus()">
            {{ range $yVal := .y}}
                {{ range $xVal := $.x}}
                    <div class="cell" id="{{$.id}}-cell-y{{$yVal}}-x{{$xVal}}" oncontextmenu="showContextMenuOfDefaultCell(event)" style="overflow: hidden">
                        <div class="content" id="{{$.id}}-cell-y{{$yVal}}-x{{$xVal}}-content"
                             onclick="mapCellLeftClick('{{$.id}}','{{$yVal}}','{{$xVal}}'); event.stopPropagation()"
                             ondrop="drop(event)" ondragover="allowDrop(event)">
                        </div>
                        <div id="{{$.id}}-cell-y{{$yVal}}-x{{$xVal}}-default-context-menu" class="context-menu" onclick="hideCellContextMenu(event)">
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','info')">Send Info Signal</div>
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','warn')">Send Warning Signal</div>
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','danger')">Send Danger Signal</div>
                            {{ if $.lead }}
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','danger')"><i>Block Access To Row</i></div>
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','danger')"><i>Block Access To Column</i></div>
                            <div class="context-menu-item" onclick="sendSignal('{{$.id}}','{{$yVal}}','{{$xVal}}','danger')"><i>Link Cell to other Map</i></div>
                            {{ end }}
                            <div class="context-menu-item end" onclick="hideCellContextMenu(event)">Close</div>
                        </div>
                    </div>
                {{ end }}
            <br>
            {{ end }}
        </div>
    </div>
</div>
{{end}}