<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="content">
    <div class="row g-4 campaign-screen">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}

        <div class="border chat-screen">
            <h4> Chat </h4>
            <div id="chat-content" class="chat-content">

            </div>
            <hr>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" id="message" name="message">
                <button onclick="sendChatMessage()" class="btn btn-primary">Send</button>
            </div>
            <br>
        </div>

        <div class="col border" style="min-width: 900px">
            <div id="char-content" class="">
                <h4> Characters </h4>
            </div>
            <hr>
            <div id="campaign-screen" class="campaign-screen">
                <ul id="campaign-tabs" class="nav nav-tabs">
                    {{ if .campaign.UserIsLead }}
                    <li class="nav-item" id="manageMapsList">
                        <button id="manageMapsLink" class="nav-link" onclick="openTab('manageMaps')" style="color: goldenrod">Edit Maps</button>
                    </li>
                    <li class="nav-item" id="manageCharactersList">
                        <button id="manageCharactersLink" class="nav-link" onclick="openTab('manageCharacters')" style="color: goldenrod">Edit Characters</button>
                    </li>
                    {{ end }}
                    <li class="nav-item" id="currentList">
                        <button id="currentLink" class="nav-link active" onclick="openTab('current')">Current</button>
                    </li>
                </ul>

                <div id="campaign-content" class="campaign-content">
                    <!-- Tab Content -->
                    {{ if .campaign.UserIsLead }}
                    <div id="manageMaps" class="tab-content" style="display: none">
                        <h3>CRUD Map!</h3>
                        <p>Map stuff</p>
                    </div>
                    <div id="manageCharacters" class="tab-content" style="display: none">
                        <h3>Add Character!</h3>
                        <p>Character</p>
                    </div>
                    {{end}}

                    <div id="current" class="tab-content">
                        <h3> No active event </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="border" style="width: 325px">
            <h4> Events </h4>
            <div id="event-content" class="">

            </div>
        </div>
    </div>
</div>

<script type="application/javascript">

    <!--  Starting Websocket  -->
    console.log("connecting to campaign: '{{.campaign.Title}}'")

    var socket;
    let currentUser = "{{.user.Name}}"
    let backoff = 1

    let connectWs = () => {
        socket = new WebSocket("ws://" + document.location.host + "/campaign/session/{{.campaign.ID}}/ws")

        // On Open & Close
        socket.onopen = function (evt) {
            console.log("Connected to Websocket: true");
            backoff = 1;
            fullRefresh();
        }
        socket.onclose = function (evt) {
            console.log("Connected to Websocket: false");
            // Attempting reconnect
            setTimeout(() => {
                console.log("Attempting to re-establish connection");
                backoff ++;
                connectWs();
            }, (backoff * 1000))
        }

        // On message
        socket.onmessage = onSocketMessage
    }

    let onSocketMessage = (evt) => {
        console.log(evt)

        // Get Payload
        const payLoad = JSON.parse(evt.data);

        // Parse events

        // Parse Character Events
        if (payLoad.type >= 500 && payLoad.type < 510) {
            handleCharacterEvents(payLoad)
            return
        }

        // Parse Map Events
        if (payLoad.type >= 530 && payLoad.type < 540) {
            handleCampaignContentEvents(payLoad)
            return
        }

        // Parse Chat-messages
        if (payLoad.type >= 800 && payLoad.type < 900) {
            handleChatEvents(payLoad)
            return
        }

        document.getElementById("event-content").innerHTML += evt.data;
    }

    let fullRefresh = () => {
        updateCharacterList()
    }

    let wrapMessage = (body, type) => {
        return {body: body, type: type}
    }

    let sendEvent = (event) => {
        console.log("Sending event to server: ", event)
        socket.send(JSON.stringify(event))
    }

    let updateCharacterList = () => {
        let body = ''
        sendEvent(wrapMessage(body, 500))
    }

    let sendChatMessage = () => {
        let body = '' + document.getElementById("message").value
        document.getElementById("message").value = ''
        sendEvent(wrapMessage(body, 800))
    }

    let handleCharacterEvents = (data) => {
        document.getElementById("char-content").innerHTML = data.body;
    }

    let handleCampaignContentEvents = (data) => {
        let body = JSON.parse(data.body)
        let tabs = body.Tabs
        let contentData = body.Content

        for (let index in contentData) {
            let doc = document.getElementById(contentData[index].Id)
            if (doc) {
                doc.remove()
            }
            document.getElementById("campaign-content").innerHTML += contentData[index].Html
        }

        for (let index in tabs) {
            let doc = document.getElementById(tabs[index].Id + "List")
            if (doc) {
                doc.remove()

            }
            // campaign-tabs
            document.getElementById("campaign-tabs").innerHTML += tabs[index].Html
        }
    }

    let handleChatEvents = (data) => {
        let chatMessage = '';
        if (data.source === currentUser) {
            chatMessage += '<div class="chat-box chat-box-me">'
        } else if (data.source.toLocaleUpperCase() === "server") {
            chatMessage += '<div class="chat-box chat-box-server">'
        } else {
            chatMessage += '<div class="chat-box chat-box-other">'
        }
        chatMessage += '<p style="margin: 0">' + data.source + ' @ ' + data.dateTime + '</p>'
        chatMessage += '<p style="margin: 0">' + data.body + '</p>'
        chatMessage += '</div>'

        document.getElementById("chat-content").innerHTML += chatMessage;
    }

    let openTab = (targetId) => {
        // Declare all variables
        let i;

        // Hide all
        let tabContent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        let navLinks = document.getElementsByClassName("nav-link");
        for (i = 0; i < navLinks.length; i++) {
            navLinks[i].className = navLinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(targetId).style.display = "block";
        document.getElementById(targetId + 'Link').className += " active";
    }

    // Innit Websocket only after loading all JS
    if (window["WebSocket"]) {
        console.log("WS support");
        connectWs();
    } else {
        alert("No WS support");
    }

</script>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
