{{define "campaignUpsertMap"}}

<details open="">
    <summary style="font-size: 2em;">Upsert Map</summary>
    <div style="width: 100%;">
        <form class="form" onsubmit="return false" style="width: 100%;" id="upsertMapForm">

            <!-- If there's an error, display -->
            {{ if .ErrorTitle}}
                <p class="bg-danger">
                    {{.ErrorTitle}}: {{.ErrorMessage}}
                </p>
            {{end}}
            <!-- If there's a success message, display -->
            {{ if .SuccessTitle}}
                <p class="bg-danger">
                    {{.SuccessTitle}}: {{.SuccessMessage}}
                </p>
            {{end}}

            {{ if and .Map .Map.Id }}
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" name="id" class="form-control" id="id" placeholder="Id" required
                       value="{{.Map.Id}}" disabled>
            </div>
            {{end}}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name" required
                       value="{{ if and .Map .Map.Name }}{{.Map.Name}}{{end}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" id="description" placeholder="Description">{{ if and .Map .Map.Description }}{{.Map.Description}}{{end}}</textarea>
            </div>
            {{ if not .Map }}
                <div class="form-group">
                    <label for="image">Background Image</label>
                    <input type="file" name="image" class="form-control" id="image" placeholder="Image" required>
                </div>
            {{end}}
            <div style="display: flex; flex-direction: row; flex-grow: 2;  flex-wrap: wrap">
                <div class="form-group" style="margin-right: 2em;">
                    <label for="area_x">Area X</label>
                    <input type="number" name="area_x" class="form-control" id="area_x" placeholder="Width"
                           value="{{ if and .Map .Map.X }}{{.Map.X}}{{end}}">
                </div>
                <div class="form-group">
                    <label for="area_y">Area Y</label>
                    <input type="number" name="area_y" class="form-control" id="area_y" placeholder="Length"
                           value="{{ if and .Map .Map.Y }}{{.Map.Y}}{{end}}">
                </div>
            </div>
            <div style="min-height: 4em; width: 12em; display: flex; flex-flow: row;">
                <div style="flex: 1 1 0;">
                    <button id="mapUpsertSubmit" type="submit" class="btn btn-primary" onclick="loadSpinner();submitUpsertMap()">Upsert</button>
                </div>
                <div id="spinner" style="flex: 1 1 0; display: none">
                    {{ template "diceSpinnerSvg.html" .}}
                </div>
            </div>
        </form>
    </div>
</details>

{{ end }}