{{define "campaignManageMapSelectionBox"}}
    <div class="border" style="display: flex; flex-flow: row nowrap; min-height: 6em;">
        <div style="flex: 1 1 0; background-image: url('{{ .ActiveImage.Url }}'); width: 100%; background-size: 75%;background-repeat: no-repeat; cursor: pointer;"
             onclick="requestMapLoadFromServer('{{.Id}}')">
        </div>
        <div style="flex: 3 3 0;">
            <h5>{{ .Name }} </h5>
            <h5>{{ .Description }}&nbsp</h5>
            <p>Active: {{ .Active }}</p>
            <p>Size: X: {{ .X }} Y: {{ .Y }}</p>
        </div>
        <div style="flex: 1 1 0; align-content: flex-start">
            <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em;
            margin-right: 0.35em; float: right" {{ if .Active }} disabled title="Editing is blocked due to Map is set as active"
            {{else}} onclick="upsertMap('{{ .Id }}')"{{end}}>
                <b><i class="bi bi-pencil"></i></b>
            </button>
        </div>
    </div>
{{end}}