{{define "campaignContentMapCell"}}
<div id="{{.mapId}}-{{.id}}-cell-element" class="element" {{ if .hasControl }} draggable="true" ondragstart="drag(event)" {{ end }}
     style="background-image: url('{{.backgroundImage}}')">
    <span>{{.entityName}}</span>
    <!--  Hide / Hidden icon  -->
    <!--  Health bar  -->
    {{ if .healthBar }}
    <progress id="{{.mapId}}-{{.id}}-health" value="{{.healthCurrent}}" max="{{.healthTotal}}" style="max-width: 100%; min-width: 100%"></progress>
    {{ end }}
</div>
{{end}}