<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="content">
    <div class="row g-4" style="min-width: 1400px; min-height: calc(100vh - 82px)">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}

        <div class="border" style="width: 375px">
            <h4> Chat </h4>
            <div id="chat-content">

            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" id="message" name="message">
                <button onclick="sendMessage()" class="btn btn-primary">Send</button>
            </div>
            <br>
        </div>

        <div class="col border" style="min-width: 1000px">
            <div id="char-content" class=>
                <h4> Characters </h4>
            </div>
            <hr>
            <div id="campaign-content">
                <h4> Campaign Content </h4>
            </div>
        </div>

        <div class="border" style="width: 50px">
            <h4> I </h4>
        </div>
    </div>
</div>

<script type="application/javascript">

    <!--  Starting Websocket  -->
    console.log("connecting to campaign: '{{.campaign.Title}}'")

    let socket = new WebSocket("ws://" + document.location.host + "/campaign/session/{{.campaign.ID}}/ws");

    if (window["WebSocket"]) {
        console.log("WS support");

        // On Open & Close
        socket.onopen = function (evt) {
            document.getElementById("chat-content").innerHTML = "Connected to Websocket: true";
        }
        socket.onclose = function (evt) {
            document.getElementById("chat-content").innerHTML = "Connected to Websocket: false";
        }

        // On message
        socket.onmessage = function (evt) {
            console.log(evt)

            // Parse events
            document.getElementById("chat-content").innerHTML = document.getElementById("chat-content").innerHTML + evt.data;
        }
    } else {
        alert("No WS support")
    }

    let sendMessage = () => {
        let msg = '' + document.getElementById("message").value
        document.getElementById("message").value = ''
        console.log("Sending msg: ", msg)
        socket.send(msg)
    }

</script>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
