{{define "campaignUpsertInventory"}}

<h2>{{ if and .Inventory .Inventory.Id }}Update{{else}}Add{{end}} Character</h2>
<div style="width: 100%;">
    <form class="form" onsubmit="return false" style="width: 100%;" id="upsertInventoryForm">

        <!-- If there's an error, display -->
        <p class="bg-danger" id="managementCrudError" style="visibility: hidden">

        </p>

        {{ if and .Inventory .Inventory.Id }}
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" name="id" class="form-control" id="id" placeholder="Id" required readonly value="{{.Inventory.Id}}">
        </div>
        {{end}}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name" required
                   value="{{ if and .Inventory .Inventory.Name }}{{.Inventory.Name}}{{end}}">
        </div>
        <div style="min-height: 4em; width: 12em; display: flex; flex-flow: row; padding-top: 1em;">
            <div style="flex: 1 1 0;">
                <button id="InventoryUpsertSubmit" type="submit" class="btn btn-primary" onclick="loadSpinner();submitUpsertInventory()" disabled>Save</button>
            </div>
            <div id="spinner" style="flex: 1 1 0; display: none">
                {{ template "diceSpinnerSvg.html" .}}
            </div>
        </div>
        <div style="width: 100%;">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Damage </th>
                    <th> Restore </th>
                    <th> Range </th>
                    <th> Edit </th>
                    <th style="display: none;"> ID </th>
                </tr>
                </thead>
                <tbody>
                {{ range $item := .Inventory.Items }}
                    <tr>
                        <td> {{ $item.Name }} </td>
                        <td> {{ $item.Description }} </td>
                        <td> {{ $item.Damage }} </td>
                        <td> {{ $item.Restore }} </td>
                        <td> {{ if $item.Range.Min }} Min: {{ $item.Range.Min }} {{ end }} {{ if $item.Range.Max }} Max: {{ $item.Range.Max }} {{ end }}</td>
                        <td>
                            <button class="btn" onclick="removeInventoryItem('{{ .Id }}', '{{ $item.Id }}')" style="height: 2.5em; width: 2.5em" disabled>
                                <b><i class="bi bi-minus"></i></b>
                            </button>
                        </td>
                        <td style="display: none;"> {{ $item.Id }} </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </form>
</div>

{{ end }}