<!--campaignLogin.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Key required to access Campaign</h1>
<h3>{{.campaignTitle}}</h3>

<div class="panel panel-default col-sm-6">
    <div class="panel-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}

        <!--Create a form that POSTs to the `/campaign/login/{{.ID}}` route-->
        <form class="form" action="/campaign/login/{{.ID}}" method="POST">
            <div class="form-group">
                <label for="key">key</label>
                <input class="form-control" type="password" id="key" name="key" required>
            </div>
            <div style="min-height: 4em; width: 12em; display: flex; flex-flow: row;" >
                <div style="flex: 1 1 0;">
                    <button id="submit" type="submit" class="btn btn-primary" onclick="loadSpinner()">Login</button>
                </div>
                <div id="spinner" style="flex: 1 1 0; display: none">
                    {{ template "diceSpinnerSvg.html" .}}
                </div>
            </div>
        </form>
    </div>
</div>

<script type="application/javascript">
    document.getElementById("key")
        .addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("submit").click();
            }
        });

    let loadSpinner = () => {
        if (document.getElementById("key").value.trim() !== '') {
            document.getElementById("spinner").style.display = "block";
        }
    }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
