{{ define "characterDetails" }}

<div>

    <h5>{{ .character.Id }}</h5>
    <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%;">
        <div style="flex: 1 1 0; background-image: url('{{ .character.Image.Url }}'); width: 100%; background-size: 75%; background-repeat: no-repeat">

        </div>
        <div style="flex: 4 4 0;">
            <h2>{{ .character.Name }}</h2>
            <h3>{{ .character.Description }}</h3>
        </div>
    </div>

    <!-- Health  -->
    <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%;">
        <div style="flex: 1 1 0;">
            <label for="healthDamage">Current Damage</label>
            <input id="healthDamage" type="number" style="font-size: 2em; max-width: 4em" value="{{ .character.Health.Damage }}" onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
        <div style="flex: 1 1 0;">
            <label for="healthTmp">Temp HP</label>
            <input id="healthTmp" type="number" style="font-size: 2em; max-width: 4em" value="{{ .character.Health.TemporaryHitPoints }}" onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
        <div style="flex: 1 1 0;">
            <label for="healthMax">Max HP</label>
            <input id="healthMax" type="number" style="font-size: 2em; max-width: 4em" value="{{ .character.Health.MaximumHitPoints }}" onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
    </div>

    <!-- Stats -->
    <div>
        ...
    </div>

    <!-- Just Dump inventory  -->
    {{ range .character.Inventories }}
    <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%;">
        {{ template "inventory" . }}
    </div>
    {{ end }}

</div>

{{ end }}