{{ define "characterDetails" }}

<div>

    <div style="width: 100%;">
        <button id="goBackToLastDetails" class="btn btn-primary" title="Go Back" onclick="goBackInRightBarHistory()" style="height: 2.4em; width: 2.4em">
            <b><i class="bi bi-arrow-left"></i></b>
        </button>
        <button id="goForwardToLastDetails" class="btn btn-primary" title="Go Forward" onclick="goForwardInRightBarHistory()" style="height: 2.4em; width: 2.4em">
            <b><i class="bi bi-arrow-right"></i></b>
        </button>
    </div>
    <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%; padding-top: 0.25em;">
        <div style="flex: 1 1 0; background-image: url('{{ .character.Image.Url }}'); width: 100%; background-size: 75%; background-repeat: no-repeat; min-height: 5em;">

        </div>
        <div style="flex: 4 4 0;">
            <h2>{{ .character.Name }}</h2>
            <p style="word-break: break-all;">{{ .character.Description }}</p>
        </div>
    </div>

    <!-- Health  -->
    <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%; padding-top: 0.5em;">
        <div style="flex: 1 1 0;">
            <label for="healthDamage">Current Damage</label><br>
            <input id="healthDamage" type="number" style="font-size: 2em; max-width: 4em" min=0 value="{{ .character.Health.Damage }}"
                   onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
        <div style="flex: 1 1 0;">
            <label for="healthTmp">Temp HP</label><br>
            <input id="healthTmp" type="number" style="font-size: 2em; max-width: 4em" min=0 value="{{ .character.Health.TemporaryHitPoints }}"
                   onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
        <div style="flex: 1 1 0;">
            <label for="healthMax">Max HP</label><br>
            <input id="healthMax" type="number" style="font-size: 2em; max-width: 4em" min=0 value="{{ .character.Health.MaximumHitPoints }}"
                   onchange="updateCharacterHealth('{{ .character.Id }}')" />
        </div>
    </div>

    <!-- Stats -->
    <details open="" style="padding-top: 1em;">
        <summary style="font-size: 1.5em;">Stats</summary>
        <div>
            ...
        </div>
    </details>

    <!-- Just Dump inventories  -->
    <details id="inventories" open="" style="padding-top: 1em;">
        <summary style="font-size: 1.5em;">Inventories:</summary>
        {{ range .character.Inventories }}
        <details open="" style="padding-top: 1em; padding-left: 1em;">
            <summary style="font-size: 1.5em;">{{ .Name }}</summary>
            <div style="display: flex; flex-flow: row nowrap; align-content: center; width: 100%;">
                {{ template "inventory" . }}
            </div>
        </details>
        {{ end }}
    </details>

</div>

{{ end }}