{{ define "inventory" }}

<div style="width: 100%;">
    <table style="width: 100%;">
        <thead>
        <tr>
            {{ if not .ReadOnly }}
            <th> Count </th>
            {{ end }}
            <th> Name </th>
            <th> Description </th>
            <th> Special </th>
            {{ if .ShowDetailButtons }}
                <th> </th>
            {{ end }}
            <th style="display: none;"> ID </th>
        </tr>
        </thead>
        <tbody>
        {{ $itemCount := len .Items }}
        {{ if eq $itemCount 0 }}
        <tr>
            <td></td>
            <td>< empty ></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{ end }}
        {{ range $item := .Items }}
        <tr>
            {{ if not $.ReadOnly }}
            <td> <input type="number" value="{{ $item.Count }}" id="Item{{ $item.Id }}Amount{{ $.Id }}"
                        onchange="updateCountInventoryItem('{{ $.Id }}', '{{ $item.Id }}')" style="max-width: 4em;"> </td>
            {{ end }}
            <td> {{ $item.Name }} </td>
            <td> {{ $item.Description }} </td>
            <td>
                {{ if $item.Damage }}
                <button class="btn" title="Damage: {{ $item.Damage }}"  style="height: 2.5em; width: 2.5em">
                    <b><i class="bi bi-lightning-fill"></i></b>
                </button>
                {{ end }}
                {{ if $item.Restore }}
                    <button class="btn" title="Restore: {{ $item.Restore }}"  style="height: 2.5em; width: 2.5em">
                        <b><i class="bi bi-heart-fill"></i></b>
                    </button>
                {{ end }}
                {{ if or $item.Range.Min $item.Range.Max }}
                    <button class="btn" title="{{ if $item.Range.Min }} Min: {{ $item.Range.Min }} {{ end }} {{ if $item.Range.Max }} Max: {{ $item.Range.Max }} {{ end }}"  style="height: 2.5em; width: 2.5em">
                        <b><i class="bi bi-crosshair"></i></b>
                    </button>
                {{ end }}
            </td>
            {{ if $.ShowDetailButtons }}
            <td>
                <button class="btn" title="Show Details" onclick="showItemDetails('{{ $item.Id }}')" style="height: 2.5em; width: 2.5em">
                    <b><i class="bi bi-search"></i></b>
                </button>
                <button class="btn btn-danger" title="Remove Items"  onclick="removeInventoryItem('{{ $.Id }}', '{{ $item.Id }}')" style="height: 2.5em; width: 2.5em" >
                    <b><i class="bi bi-trash3-fill"></i></b>
                </button>
            </td>
            {{ end }}
            <td style="display: none;"> {{ $item.Id }} </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
    {{ $linkedInventoryCount := len .LinkedInventories }}
    {{ if and (gt $itemCount 0) (not .ReadOnly) (gt $linkedInventoryCount 0) }}
    <details id="transferItems" style="padding-top: 0.1em; padding-left: 1em;">
        <summary>Transfer Items</summary>
        <div style="display: flex; flex-direction: row; flex-grow: 2;  flex-wrap: wrap; padding-top: 1em;">
            <div class="form-group" style="flex: 1 1 0; max-width: 5em;">
                <label for="transferCount{{.Id}}">Move #</label>
                <input id="transferCount{{.Id}}" name="transferCount{{.Id}}" min=1 type="number" value="1"
                       style="height: calc(2.25rem + 2px); max-width: 5em;"/>
            </div>
            <div style="flex: 3 3 0;">
                <div class="form-group">
                    <label for="moveItemIdFromInventory{{.Id}}">of Item</label>
                    <select id="moveItemIdFromInventory{{.Id}}" name="moveItemIdFromInventory{{.Id}}" class="form-control">
                        <option>(None)</option>
                        {{ range $item := .Items}}
                            <option value="{{$item.Id}}">{{$item.Name}}</option>
                        {{ end }}
                    </select>
                </div>
            </div>
            <div style="flex: 3 3 0;">
                <div class="form-group">
                    <label for="moveItemToInventoryId{{.Id}}">to Inventory</label>
                    <select id="moveItemToInventoryId{{.Id}}" name="moveItemToInventoryId{{.Id}}" class="form-control">
                        <option>(None)</option>
                        {{ range $linkedInventory := .LinkedInventories}}
                            <option value="{{$linkedInventory.Id}}">{{$linkedInventory.Name}}</option>
                        {{ end }}
                    </select>
                </div>
            </div>
            <div style="flex: 1 1 0;">
                <button type="submit" class="btn btn-primary" style="margin-top: 1.75em;"
                        onclick="transferItemBetweenInventories('{{.Id}}')">
                    <i class="bi bi-arrow-down-up"></i>
                </button>
            </div>
        </div>
    </details>
    {{ end }}
</div>

{{ end }}