{{define "manageImages"}}
    <div>
        <div style="display: flex; flex-direction: row;">
            <h2 style="width: max-content;">Images Overview</h2>
            <b style="margin: 0.5em 0.5em 0.5em;">|</b>
            <input type="text" id="imagesContentFilter" placeholder="filter" onchange="filterTab('imagesContentFilter', 556)"
                   {{ if .Filter }} value="{{.Filter}}" {{ end }} style="margin-left: 0.5em; height: 2.4em; border-radius:.25rem;">
        </div>
        <div style="display: flex; flex-flow: row; flex-wrap: wrap;">
            {{ range .Images }}
                <div class="border" style="display: flex; flex-flow: row nowrap; min-height: 10em; height: 100%;">
                    <div title="Show Map" style="flex: 3 3 0; background-image: url('{{ . }}'); min-width: 10em; background-size: 100%;
                            background-repeat: no-repeat; cursor: pointer; background-color: #333333">
                    </div>
                    <div style="flex: 1 1 0; align-content: flex-start">
                        <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em;
                            margin-right: 0.35em; float: right" disabled>
                            <b><i class="bi bi-pencil"></i></b>
                        </button>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{end}}