{{define "manageInventorySelectionBox"}}
    <div class="border" style="display: flex; flex-flow: row nowrap; min-height: 6em;">
        <div style="flex: 2 2 0; padding-left: 1em;">
            <h5>{{ or .Name "{empty}" }} </h5>
            <p>Size: {{ .Size }} {{ if .Slots }} of max {{.Slots}} {{end}} </p>
            <p>Owners: {{ len .Characters}}</p>
        </div>
        <div style="flex: 2 2 0; align-content: flex-start; min-width: 10em">
            <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em; margin-right: 0.35em;
            float: right" title="Edit Inventory '{{ .Name }}'" onclick="upsertInventory('{{ .Id }}')">
                <b><i class="bi bi-pencil"></i></b>
            </button>
            <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em; margin-right: 0.35em;
            float: right" title="Clone Inventory '{{ .Name }}'" onclick="cloneInventory('{{ .Id }}')" disabled>
                <b><i class="bi bi-copy"></i></b>
            </button>
            <br>
            <br>
            <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em; margin-right: 0.35em;
            float: right; margin-bottom: 0.3em;" title="Go To Selected Owner of: '{{ .Name }}'"
                    onclick="goToSelectedCharCrud('charToInventory{{.Id}}Select')" {{if not .Characters}}disabled{{end}}>
                <b><i class="bi bi-person-lines-fill"></i></b>
            </button>
            <select id="charToInventory{{.Id}}Select" style="height: 2.5em; margin-top: 0.3em; margin-right: 0.35em;
            float: right; margin-bottom: 0.3em;" {{if not .Characters}}disabled{{end}}>
                {{ range $character := .Characters}}
                    <option value="{{$character.Id}}">{{$character.Name}}</option>
                {{ end }}
            </select>
        </div>
    </div>
{{end}}