{{define "manageMapCrud"}}

<div style="width: 100%;">
    <button id="goBackToLastDetails" class="btn btn-primary" title="Go Back" onclick="goBackInRightBarHistory()" style="height: 2.4em; width: 2.4em">
        <b><i class="bi bi-arrow-left"></i></b>
    </button>
    <button id="goForwardToLastDetails" class="btn btn-primary" title="Go Forward" onclick="goForwardInRightBarHistory()" style="height: 2.4em; width: 2.4em">
        <b><i class="bi bi-arrow-right"></i></b>
    </button>
</div>
<h3>{{ if and .Map .Map.Id }}Update{{else}}Add{{end}} Map</h3>
<div style="width: 100%;">
    <form class="form" onsubmit="return false" style="width: 100%;" id="upsertMapForm">

        <!-- If there's an error, display -->
        <p class="bg-danger" id="managementCrudError" style="visibility: hidden; padding: 0.25em">

        </p>

        {{ if and .Map .Map.Id }}
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" name="id" class="form-control" id="id" placeholder="Id" required readonly value="{{.Map.Id}}">
        </div>
        {{end}}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name" required
                   value="{{ if and .Map .Map.Name }}{{.Map.Name}}{{end}}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" placeholder="Description">{{ if and .Map .Map.Description }}{{.Map.Description}}{{end}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">{{ if not .Map }}Set{{else}}Add{{end}} Background Image</label>
            <input type="file" name="image" accept="image/svg+xml,image/png,image/gif,image/jpeg" class="form-control"
                   id="image" placeholder="Image" {{ if not .Map }}required{{end}}>
        </div>
        <div class="form-group">
            <label for="imageName">Background Image Name</label>
            <input type="text" name="imageName" class="form-control" id="imageName" placeholder="Image Name"
                   {{ if not .Map }}required{{end}}>
        </div>
        <div style="display: flex; flex-direction: row; flex-grow: 2;  flex-wrap: wrap">
            <div class="form-group" style="padding-right: 2em;">
                <label for="area_x">Area X</label>
                <input type="number" name="area_x" class="form-control" id="area_x" placeholder="Width" min="2"
                       value="{{ if and .Map .Map.X }}{{.Map.X}}{{end}}">
            </div>
            <div class="form-group">
                <label for="area_y">Area Y</label>
                <input type="number" name="area_y" class="form-control" id="area_y" placeholder="Length" min="2"
                       value="{{ if and .Map .Map.Y }}{{.Map.Y}}{{end}}">
            </div>
        </div>
        {{ if .Map }}
        <div style="display: flex; flex-direction: row; flex-grow: 3; flex-shrink: 1; flex-wrap: wrap">
            {{ $mapLengt := len .Map.Images }}
            {{ range $image := .Map.Images }}
            <div style="flex: 1 1 0;">
                <div id="image_title_{{$image.Id}}" style="width: 100%; align-content: center">{{$image.Name}}</div>
                <div id="image_{{$image.Id}}" style="background-image:url('{{$image.Url}}'); min-width: 10em; min-height: 10em;
                        max-width: 10em; max-height: 10em; background-size: 100%; background-repeat: no-repeat; margin-right: 0.5em">
                    {{ if gt $mapLengt 1 }}
                    <button id="btn_remove_{{$image.Id}}" class="btn btn-danger" onclick="handleRemovalOfImagesRequest('{{$image.Id}}')"
                            title="Remove Image" style="margin-top: auto; height: 2.5em; width: 2.5em; margin-top: 0.3em; margin-left: 0.35em;">
                        <b>x</b>
                    </button>
                    {{else}}
                        <button class="btn btn-danger" title="Locked; due to only image left" disabled
                                style="margin-top: auto; height: 2.5em; width: 2.5em; margin-top: 0.3em; margin-left: 0.35em;">
                            <i class="bi bi-lock-fill"></i>
                        </button>
                    {{end}}
                </div>
            </div>
            {{end}}
            <input id="removeImages" name="removeImages" hidden>
        </div>
        {{end}}
        <div style="min-height: 4em; width: 12em; display: flex; flex-flow: row; margin-top: 0.25em">
            <div style="flex: 1 1 0;">
                <button id="mapUpsertSubmit" type="submit" class="btn btn-primary" onclick="loadSpinner();submitUpsertMap()">Save</button>
                {{ if and .Map .Map.Id }}
                    <button class="btn btn-danger" onclick="loadSpinner();submitRemoveMap('{{.Map.Id}}', '{{.Map.Name}}')">Delete</button>
                {{end}}
            </div>
            <div id="spinner" style="flex: 1 1 0; display: none">
                {{ template "diceSpinnerSvg.html" .}}
            </div>
        </div>
    </form>
</div>

{{ end }}