{{define "manageMapSelectionBox"}}
    <div class="border" style="display: flex; flex-flow: row nowrap; min-height: 6em; height: 100%;">
        <div title="Show Map" style="flex: 1 1 0; background-image: url('{{ .ActiveImage.Url }}'); width: 100%; background-size: 100%;
                background-repeat: no-repeat; cursor: pointer; background-color: #333333"
             onclick="requestMapLoadFromServer('{{.Id}}')">
        </div>
        <div style="flex: 3 3 0; padding-left: 1em">
            <h5>{{ .Name }} </h5>
            <p style="word-break: break-all;">{{ .Description }}&nbsp</p>
            <p>Active: {{ .Active }}</p>
            <p>Size: X: {{ .X }} Y: {{ .Y }}</p>
        </div>
        <div style="flex: 1 1 0; align-content: flex-start">
            <button class="btn" style="height: 2.5em; width: 2.5em; margin-top: 0.3em;
            margin-right: 0.35em; float: right" {{ if .Active }} disabled title="Editing is blocked due to Map is set as active"
            {{else}} title="Edit map '{{ .Name }}'" onclick="upsertMap('{{ .Id }}')"{{end}}>
                <b><i class="bi bi-pencil"></i></b>
            </button>
        </div>
    </div>
{{end}}