{{define "manageItems"}}
    <div>
        <div style="display: flex; flex-direction: row;">
            <h2 style="width: max-content;">Item Overview</h2>
            <b style="margin: 0.5em 0.5em 0.5em;">|</b>
            <button class="btn" style="height: 2.4em;" onclick="upsertItem('')">
                <i class="bi bi-plus"></i>
            </button>
            <input type="text" id="itemContentFilter" placeholder="filter" onchange="filterTab('itemContentFilter', 554)"
                   {{ if .Filter }} value="{{ .Filter }}" {{ end }} style="margin-left: 0.5em; height: 2.4em; border-radius:.25rem;">
        </div>
        <br>
        <div style="width: 100%;">
            <table style="width: 100%;">
                <caption>{{ .Id }}</caption>
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Damage </th>
                    <th> Restore </th>
                    <th> Range </th>
                    <th></th>
                    <th style="display: none;"> ID </th>
                </tr>
                </thead>
                <tbody>
                {{ range .Items }}
                    <tr>
                        <td> {{ .Name }} </td>
                        <td> {{ .Description }} </td>
                        <td> {{ .Damage }} </td>
                        <td> {{ .Restore }} </td>
                        <td> {{ if .Range.Min }} Min: {{ .Range.Min }} {{ end }} {{ if .Range.Max }} Max: {{ .Range.Max }} {{ end }}</td>
                        <td>
                            <button title="Show Item Details" class="btn" onclick="showItemDetails('{{ .Id }}')" style="height: 2.5em; width: 2.5em">
                                <b><i class="bi bi-search"></i></b>
                            </button>
                            <button title="Edit Item" class="btn" onclick="upsertItem('{{ .Id }}')" style="height: 2.5em; width: 2.5em">
                                <b><i class="bi bi-pencil"></i></b>
                            </button>
                        </td>
                        <td style="display: none;"> {{ .Id }} </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}