<!--menu.html-->
<nav class="navbar navbar-default">
    <div class="container" style="border-bottom: 0.25em solid #333333;">
        <div class="navbar-header" style="font-size: 2.5rem">
            <a class="navbar-brand" href="/">
                HOME
            </a>
            {{ if .user }}
            <a class="navbar-brand" href="/u/logout">
                LOGOUT
            </a>
            <a class="navbar-brand" href="/campaign/select">
                CAMPAIGNS
            </a>
            <button class="btn btn-primary" onClick="window.location.reload();" title="Refresh">
                <b><i class="bi bi-arrow-clockwise"></i></b>
            </button>
            {{ else }}
            <a class="navbar-brand" href="/u/login">
                LOGIN
            </a>
            <a class="navbar-brand" href="/u/register">
                REGISTER
            </a>
            {{end}}
        </div>
        {{ if .user }}
        <p style="float: right; padding: 15px; font-size: 18px; line-height: 20px" >
            Welcome, {{.user.Name}}
        </p>
        {{ end }}
    </div>
</nav>