<!--menu.html-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Home
            </a>
            {{ if .user }}
            <a class="navbar-brand" href="/u/logout">
                Logout
            </a>
            <a class="navbar-brand" href="/campaign/select">
                Campaigns
            </a>
            {{ else }}
            <a class="navbar-brand" href="/u/login">
                Login
            </a>
            <a class="navbar-brand" href="/u/register">
                Register
            </a>
            {{end}}
        </div>
        {{ if .user }}
        <p style="float: right; padding: 15px; font-size: 18px; line-height: 20px" >
            Welcome, {{.user.Name}}
        </p>
        {{ end }}
    </div>
</nav>