.spin-inline {
    animation: spin 2s linear infinite;
    display: inline-block;
}

.spin-inline-4 {
    animation: spin 2s linear 4;
    display: inline-block;
}

.spin {
    animation: spin 2s linear infinite;
}

#diceSVG {
    animation: spin 2s linear infinite;
}
#rolling_dice {
    animation: bounceDice 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceDice {
    0% {
        transform: translateY(15%);
    }
    50%{
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(15%);
    }
}