
.campaign-map {
    overflow: auto;
    min-height: calc(100vh - 225px);
    max-height: calc(100vh - 225px);
}

.campaign-map .grid {
    min-width: max-content;
    max-width: max-content;
    min-height: max-content;
    max-height: max-content;
    background-size: contain;
    overflow: hidden
}

.campaign-map .grid .cell {
    max-height: 4em;
    max-width: 4em;
    min-height: 4em;
    min-width: 4em;
    border: solid black 1px;
    float: left;
    background: none
}

.campaign-map .grid .cell .content {
    float: none;
    background: none;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
}

.campaign-map .grid .cell .content .signal {
    display: flex;
    align-items: center;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    opacity: 0.5;
}

.campaign-map .grid .cell .content .element {
    z-index: 500;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    background-size: contain;
    overflow: hidden;
}