
.campaign-map {
    overflow: scroll;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
}

.campaign-map .grid {
    min-width: max-content;
    max-width: max-content;
    min-height: max-content;
    max-height: max-content;
    background-size: contain;
    overflow-y: auto
}

.campaign-map .grid .cell {
    max-height: 3em;
    max-width: 3em;
    min-height: 3em;
    min-width: 3em;
    border: solid black 1px;
    float: left;
    background: none
}

.campaign-map .grid .cell .content {
    float: none;
    background: none;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.campaign-map .grid .cell .content .element {
    background: none;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}