
/* Defaults */

div {
    background: #222222;
    color: #F5F5DC;
    margin: 0;
}

nav {
    background: #222222;
    color: #F5F5DC;
}

body {
    background: #222222;
    color: #F5F5DC;
    margin: 0;
}

.content {
    min-height: calc(100vh - 152px);
    max-height: calc(100vh - 152px);
}

/* Chat */

.chat-screen {
    width: 375px;
}

.chat-screen .chat-content {
    min-height: calc(100vh - 152px);
    max-height: calc(100vh - 152px);
    overflow-y: auto;
}

.chat-screen .chat-content .chat-box {
    max-width: 350px;
    word-break: break-all;
    white-space: normal;
    float: none;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.chat-screen .chat-content .chat-box.chat-box-me {
    float: right;
    background-color: rgba(255, 99, 71, 0.5);
}

.chat-screen .chat-content .chat-box.chat-box-server {
    float: left;
    background-color: rgba(255, 165, 0, 0.5);
}

.chat-screen .chat-content .chat-box.chat-box-other {
    float: left;
    background-color: rgba(72, 80, 255, 0.5);
}

/* Campaign Screens */
.campaign-screen {
    min-width: 1100px;
    min-height: calc(100vh - 95px);
    max-height: calc(100vh);
    overflow: hidden
}

.campaign-screen .campaign-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* Campaign Tabs */

.campaign-screen .campaign-content .tab-content {
    display: none;
    flex: 0 2 auto;
}

/* Character Ribbon */

.char-ribbon-row {
    margin-top: 0.5em;
    margin-bottom: 1em;
    min-height: 4em;
    max-height: 4em
}

.char-ribbon-row .char-ribbon-content {
    max-width: 4em;
    min-width: 4em;
    max-height: 4em;
    min-height: 4em;
    background-size: contain;
    float: left;
    margin-left: 0.25em;
    margin-right: 1em;
    position: relative
}

.char-ribbon-row .char-ribbon-content .char-name-box {
    text-align: center;
    position: absolute;
    bottom: -0.75em;
    left: -0.5em;
    min-width: 125%;
    max-width: 125%;
    font-size: small
}

.char-ribbon-row .char-ribbon-content .char-name-box .char-name-box-content {
    min-width: 100%;
    max-width: 100%
}

.online-div {
    position: absolute;
    top: 0.1em;
    right: -0.6em;
    min-width: 2em;
    max-width: 2em;
    font-size: small;
    background: none;
}

.online-span {
    background: green; border-radius: 0.5em; min-width: 1em; max-width: 1em;
}



